@import "tailwindcss";

@theme {
	--color-transparent: transparent;
	--color-violet: #111428;
	--color-charcoal: #10182F;
	--color-slate: #4B5565;
	--color-smoke: #adbfd1;
	--color-mist: #E2E8EF;
	--color-lavender: #9880E8;
	--color-orchid: #E666CC;
	--color-flamingo: #FA9AA2;
	--color-turquoise: #55CEDA;

    --color-arch-bg: #191715;
    --color-arch-border: #353331;
    --color-arch-green: #5FFF3F;
    --color-arch-green-bg: #23361A;
    --color-arch-blue: #4BB8FF;
    --color-arch-blue-bg: #113344;
    --color-arch-pink: #FF5EF5;
    --color-arch-pink-bg: #441441;
    --color-arch-orange: #F8811F;
    --color-arch-orange-bg: #442C14;
    --color-arch-white: #FFEFDF;
    --color-arch-white-bg: #47443E;

    --font-header: var(--font-header);
    --font-body: var(--font-body);
    --font-mono: var(--font-mono);

	--text-xs: 0.85rem;
	--text-sm: 1rem;
	--text-base: 1.2rem;
	--text-lg: 1.75rem;
	--text-xl: 2rem;
	--text-2xl: 2.5rem;
	--text-3xl: 3.5rem;

	--leading-normal: 1.13;
	--leading-relaxed: 1.25;
	--leading-loose: 1.33;

	--decoration: 2px;
	--decoration-thick: 4px;

	--breakpoint-sm: 384px;
	--breakpoint-md: 512px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
}

body {
	@apply font-body;
}

@utility text-gradient {
	@apply bg-clip-text text-transparent;
}

@utility text-gradient-r {
	@apply text-gradient;
	@apply bg-linear-to-r;
}

@utility decoration {
	text-decoration-thickness: 2px;
}

@utility decoration-thick {
	text-decoration-thickness: 4px;
}

@media (prefers-reduced-motion) {
	.transition-all,
	.transition,
	.transition-colors,
	.transition-opacity,
	.transition-shadow,
	.transition-transform {
		transition-property: none;
	}
}

@media (prefers-contrast: more) {
	a,
	.link-text {
		@apply underline decoration;
	}

	a:hover,
	.link-text:hover {
		@apply decoration-thick bg-none text-mist;
	}

	a.link-not-text {
		@apply no-underline;
	}
}

*::selection {
	@apply bg-lavender/40;
}

a.link-fancy {
	@apply text-mist;
	@apply hover:text-gradient-r hover:from-lavender hover:to-orchid;
}

a.link-icon {
	@apply fill-smoke;
	@apply hover:fill-lavender;
}
