---
import IndexAbout from "$/components/index/IndexAbout.astro";
import IndexSocials from "$/components/index/IndexSocials.astro";
import MainLayout from "$/layouts/MainLayout.astro";
import IndexExperience from "$/components/index/IndexExperience.astro";
import IndexProjects from "$/components/index/IndexProjects.astro";
import IndexSummary from "$/components/index/IndexSummary.astro";
import Footer from "$/layouts/Footer.astro";

const links = [
  { title: "About me", href: "#about" },
  { title: "Experience", href: "#experience" },
  { title: "Personal projects", href: "#personal-projects" }
];
---

<MainLayout>
  <div class="home">
    <header class="home-left">
      <IndexSummary />
      <IndexSocials />
      <ul class="home-links">
        {links.map(({ title, href }) => (
          <li class="w-fit">
            <a href={href} class="link-fancy">
              {title}
            </a>
          </li>
        ))}
      </ul>
    </header>
    <div class="home-right">
      <IndexAbout />
      <IndexExperience />
      <IndexProjects />
      <Footer class="mt-20 mb-20" />
    </div>
  </div>
</MainLayout>

<style>
    @reference "$/styles/site.css";
    .home {
        @apply flex flex-col gap-2;
        @apply lg:flex-row lg:gap-8;
    }

    .home-left {
        @apply sticky flex w-full shrink-0 flex-col gap-2;
        @apply pb-6 pt-12;
        @apply lg:top-0 lg:max-h-screen lg:w-[400px] lg:py-20;

        .home-links {
            @apply flex flex-row justify-center;
            @apply lg:mt-8 lg:flex-col;

            a {
                @apply block px-6 py-4 transition-transform lg:hover:ps-8;
                transition-property: padding;
            }
        }
    }

    .home-right {
        @apply flex w-full flex-col gap-2;
    }
</style>
