---
import Link from "$/components/Link.astro";
---

<section id="about" class="leading-loose lg:pt-20">
    <h2 class="font-header text-lg text-mist lg:mt-2">
      About me
    </h2>
    <p class="mt-2">
        I wrote my first lines of code back in 2011 in
        <Link href="https://www.lua.org/about.html">
            Lua
        </Link>
         using modding tools available for
        <Link href="https://wiki.facepunch.com/gmod/Beginner_Tutorial_Intro">
            Garry's Mod
        </Link>
         and
        <Link href="https://tweaked.cc/">
            Minecraft
        </Link>.
        Being given the reigns to create whatever I could imagine got me hooked on programming.
    </p>
    <p class="my-3">
        Fast forward to today, and I'm a Senior Full-Stack Software Engineer,
        currently working in the British public sector on developing complex,
        interconnected systems to improve business processes and improve user experiences.
    </p>
    <p class="my-3">
        I love learning things (tech and non-tech alike), new challenges, and keep an eye on the
        cutting edge of technology to help inform and drive our technical evolution.
    </p>
    <p class="my-3">
        When I'm not clacking away at my desk, I enjoy: long walks, a cracking bit of cheese, video games,
        Sci-Fis, tabletop RPGs, surreal comedies, and listening to music. Actually, I listen to a lot of music
        at my desk too.
    </p>
</section>
