<h1 class="font-header font-bold text-mist text-3xl decoration-smoke/75 decoration-underline-thick underline">
  <a href="/">Alex Noddings</a>
</h1>
<h2 class="font-mono text-mist text-xl leading-none mb-2">
  Senior Full-Stack Software Engineer
</h2>
<p>
  I build high-quality, performant, accessible web systems.
</p>
<p>
  My main tech is
  <a class="text-gradient-r from-orchid to-lavender hover:from-lavender hover:to-orchid"
     href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
  >Angular</a
  >/<a class="text-gradient-r from-lavender to-flamingo hover:from-flamingo hover:to-lavender"
     href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
  >Blazor</a>,
  <a class="text-gradient-r from-flamingo to-turquoise hover:from-turquoise hover:to-flamingo"
     href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core"
  >ASP.NET Core</a>,
  and
  <a class="text-gradient-r from-turquoise to-lavender hover:from-lavender hover:to-turquoise"
     href="https://azure.microsoft.com/en-gb"
  >Azure</a>,
  but I'm pretty flexible and love learning something new in my free time.
</p>
