<section id="about" class="leading-loose lg:pt-20">
  <div class="font-header text-3xl hidden lg:block">&nbsp;</div>
  <h2 class="font-header font-medium text-lg text-mist">
    About me
  </h2>
  <p class="my-3">
    I'm a full-stack engineer with experience in building complex business systems
    with a focus on performance and accessibility.
  </p>
  <p class="mt-2">
    I've been writing code since 2011, when I learned
    <a href="https://www.lua.org/about.html" class="link-fancy">
      Lua
    </a>
    while mucking about in
    <a href="https://wiki.facepunch.com/gmod/Beginner_Tutorial_Intro" class="link-fancy">
      Garry's Mod
    </a>
    and
    <a href="https://tweaked.cc/" class="link-fancy">
      Minecraft
    </a> with some friends.
  </p>
  <p class="my-3">
    Today, I'm a Senior Full-Stack Software Engineer working in the British public sector
    to provide better user experiences for the public and improve internal processes.
  </p>
  <p class="my-3">
    When I'm not clacking away at my desk, I enjoy learning (tech and non-tech alike),
    long walks, reading, a cracking bit of cheese, science fiction, tabletop RPGs, surreal comedies,
    and listening to music. Actually, I listen to a <span class="italic">lot</span> of music at my desk too.
  </p>
</section>
