<h1 class="font-header text-mist text-3xl decoration-smoke/75 decoration-underline-thick underline">
  <a href="/">Alex Noddings</a>
</h1>
<h2 class="font-mono text-mist text-2xl leading-none mb-2">
  Senior Full-Stack Software Engineer
</h2>
<p>
  My main tech stack is
  <a
    class="text-gradient-r from-orchid to-lavender hover:from-lavender hover:to-orchid"
    href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet"
  >
    .NET
  </a>
  and
  <a
    class="text-gradient-r from-lavender to-orchid hover:from-orchid hover:to-lavender"
    href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
  >
    Angular</a
  > (hosted on
  <a
    class="text-gradient-r from-flamingo to-turquoise hover:from-turquoise hover:to-flamingo"
    href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core"
  >
    ASP.NET Core</a
  >) and automagically deployed to
  <a
    class="text-gradient-r from-turquoise to-lavender hover:from-lavender hover:to-turquoise"
    href="https://azure.microsoft.com/en-gb"
  >
    Azure</a
  >. I'm pretty flexible though, and love learning new technology!
</p>
