---
import ExperienceItem from "$/components/experience/ExperienceItem.astro";
import { experience } from "$/experience.ts";
---

<section id="experience" class="pt-10 lg:pt-16">
    <h2 class="flex-1 font-header font-medium text-lg text-mist">Experience</h2>
    <p class="text-sm">For privacy, exact dates and details aren't provided on my public site.</p>
    <ol class="group/experience mt-4 flex flex-col">
        {
          experience.map((e) => (
                <li>
                    <ExperienceItem experience={e} />
                </li>
            ))
        }
    </ol>
</section>
