---
type Props = {
  class?: string
};

const { class: className } = Astro.props;
---
<footer class:list={[className, "text-center text-smoke"]}>
  <p class="font-header text-mist">
    &copy; Alex Noddings
  </p>
  <p class="text-sm">
    Built with
    <a class="font-mono text-mist hover:text-[#e442a5]" href="https://astro.build/">Astro</a>
    and
    <a class="font-mono text-mist hover:text-[#00bcff]" href="https://tailwindcss.com/">Tailwind</a>
  </p>
  <p class="text-sm">
    Source available on
    <a class="font-mono text-mist hover:text-[#8a6ffa]" href="https://github.com/alexnoddings/alexnoddings.com/">GitHub</a>
  </p>
  <p class="text-sm">
    Running on
    <a class="font-mono text-mist hover:text-[#f14602]" href="https://workers.cloudflare.com/">Cloudflare</a>
  </p>
</footer>
