---
type Props = {
	class?: string
};

const { class: className } = Astro.props;
---
<footer class:list={[className, "text-center text-smoke"]}>
	&copy; Alex Noddings, built with
	<a class="link-fancy" href="https://astro.build/">
		Astro
	</a>
	and
	<a class="link-fancy" href="https://tailwindcss.com/">
		Tailwind
	</a>
	on
	<a class="link-fancy" href="https://github.com/alexnoddings/alexnoddings.com/">
		GitHub
	</a>
</footer>
